* {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

body {
    font-family: $fontfamily-plusjakartasans;
    font-size: 18px;
    background-image: linear-gradient($primary-white, $light-whitishblue);

    p {
        color: $neutral-gray;
    }
}