* {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

body {
    font-family: $fontfamily-plusjakartasans;
    font-size: 18px;
    background-image: linear-gradient($primary-white, $light-whitishblue);

    p {
        color: $neutral-gray;
        padding:1.5rem;
    }
}

h2 {
    color:$primary-white;
    background-image: linear-gradient($gradientcolor-orange, $gradientcolor-darkpink);
}