/*font face*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

$fontfamily-plusjakartasans: "Plus Jakarta Sans", sans-serif;

/*Priamry Colors*/
$primary-white: hsl(0, 0%, 100%);


/*Neutral Colors*/
$neutral-bluishpurple: hsl(234, 25%, 52%);
$neutral-gray: hsl(232, 10%, 56%);
$neutral-pink: hsl(341, 100%, 83%);


/*Dark Colors*/
$dark-blue: hsl(233, 54%, 16%);
$dark-pinkmagenta: hsl(341, 92%, 62%);

/*Gradients*/

/*Orange Pink gradient*/
$gradientcolor-orange: hsl(13, 100%,64%);
$gradientcolor-darkpink: hsl(322, 87%,55%);

/*Blue Pink gradient*/
$gradientcolor-blue: hsl(237, 100%,64%);
$gradientcolor-darkpink: hsl(322, 87%,55%);

/*Linear gradient background fill*/

$light-whitishblue: hsl(232, 88, 97, 100%);
