/* Error: There's already a module with namespace "index".
 *     ,
 * 1   | @use 'abstracts/index';
 *     | ====================== original @use
 * ... |
 * 3   | @use 'base/index';
 *     | ^^^^^^^^^^^^^^^^^ new @use
 *     '
 *   src\sass\style.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"index\".\a     \2577 \a 1   \2502  @use 'abstracts/index';\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 3   \2502  @use 'base/index';\d\a     \2502  ^^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   src\\sass\\style.scss 3:1  root stylesheet";
}
