

button {
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    width: 167px;
    height: 56px;
    font-family: $fontfamily-plusjakartasans;
    font-weight: bold;
}

.nav-btn {
    color:$primary-white;
    background-color: $dark-blue;
    max-height: 3rem;
    max-width: 9.25rem;
}

.banner-btn {
    color:$primary-white;
    background-image: linear-gradient($gradientcolor-orange, $gradientcolor-darkpink);
}

.section-btn {
    color: $dark-pinkmagenta;
    background-color: transparent;
}

.footer-btn {
    color: $primary-white;
    background-image: linear-gradient($gradientcolor-blue, $gradientcolor-darkpink);
}