@use '../abstracts' as a;

button {
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    width: 167px;
    height: 56px;
    font-family: a.$fontfamily-plusjakartasans;
    font-weight: bold;
}

.nav-btn {
    color: a.$primary-white;
    background-color: a.$dark-blue;
    max-height: 3rem;
    max-width: 9.25rem;
}

.banner-btn {
    color: a.$primary-white;
    background-image: linear-gradient(a.$gradientcolor-orange, a.$gradientcolor-darkpink);
}

.section-btn {
    color: a.$dark-pinkmagenta;
    background-color: transparent;
}

.footer-btn {
    color: a.$primary-white;
    background-image: linear-gradient(a.$gradientcolor-blue, a.$gradientcolor-darkpink);
}